* {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 0px solid red;
}
body {
    background-color: rgb(0, 0, 0);
}

#canvasContainer {
    overflow-x: hidden;
    overflow-y: hidden;
}